####################################
# DATABASE PATHS
####################################

#####SYLPH#####
SYLPHDB1="/almacenamiento/irving/databases/sylph/fungi-refseq-2024-07-25-c200-v0.3.syldb" #Fungi database
SYLPHDB2="/almacenamiento/irving/databases/sylph/gtdb-r226-c1000-dbv1.syldb" #Bacteria database
SYLPHTAXDB1="FungiRefSeq-2024-07-25" #Fungi taxonimic database
SYLPHTAXDB2="GTDB_r226" #Bacteria taxonimic database

#####TAXONOMY#####
SOURMASH_DB="/almacenamiento/irving/databases/sourmash/gtdb-reps-rs226-k31.dna.zip"
SKANI_DB="/almacenamiento/irving/databases/skani/skani_gtdb_r226-v0.3"
CHECKM2_DB="/almacenamiento/0_DB/CheckM2_database/uniref100.KO.1.dmnd"

#####ANNOTATION#####
#BAKTA_DB="/almacenamiento/0_DB/bakta/full/db/"
BAKTA_DB="/almacenamiento/irving/databases/bakta_v6/full/db"
#PROKKA_DB=""

#####CHARACTERIZATION#####
AMRFINDER_DB="/software/conda/environments/epitools_amrfinder/share/amrfinderplus/data/2026-01-21.1"
PLASMIDFINDER_DB="/almacenamiento/irving/databases/plasmidfinder_db"
MOBSUITE_DB="/almacenamiento/irving/databases/mob_suite/databases/"