####################################
# DATABASE PATHS
####################################

# Example database configuration file
# Replace all /path/to/... values with the correct paths in your system

#####SYLPH#####
SYLPHDB1="/path/to/sylph/database1"
SYLPHDB2="/path/to/sylph/database2"
SYLPHTAXDB1="sylphtax_prefix1"
SYLPHTAXDB2="sylphtax_prefix1"

#####TAXONOMY#####
SOURMASH_DB="/path/to/sourmash/database/gtdb_r226"
SKANI_DB="/path/to/skani/database/gtdb_r226"
CHECKM2_DB="/path/to/CheckM2/database/"

#####ANNOTATION#####
BAKTA_DB="/path/to/bakta/database/db"

#####CHARACTERIZATION#####
AMRFINDER_DB="/path/to/amrfinder/database/db"
PLASMIDFINDER_DB="/path/to/plasmidfinder/database/"
MOBSUITE_DB="/path/to/mob_suite/database/db"